name: Deploy Test

on:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Run Tests
        run: echo "Running tests..."
        
  deploy-prod:
      runs-on: 'ubuntu-latest'
      environment: 'TEST'
      needs: [trigger]
      steps:
        - name: Check out code
          run: echo "Running tests..."
